<div class="jumbotron">
  <h1><i class="fa fa-check-square-o"></i> Project managment tool</h1>
  <p>This is a ToDo list like a kanban board</p>
  <%= link_to "Sign up", "#", class: 'btn btn-primary btn-lg' %>
</div>

